
@{
    ViewBag.Title = "Index";
}

<h2>Developer Dashboard</h2>
<div class="row">
    <div class="col-md-4">
        <h3 class="btn btn-default">
            @Html.ActionLink("View Notification", "AllNotification", "Developers")
        </h3>
    </div>
    <div class="col=md-4">
        <h3 class="btn btn-default">
            @Html.ActionLink("View all projects in the system", "AllProjects", "Developers")
        </h3>
    </div>
    <div class="col-md-4">
        <h3 class="btn btn-default">
            @Html.ActionLink("Ticket Details", "GetAllTickets", "Developers")
        </h3>
    </div>
</div>

