
@{
    ViewBag.Title = "AssignRoleToUser";
}

<h2>AssignRoleToUser</h2>

@using (Html.BeginForm())
{
    <h4>Select User from the List :</h4> @Html.DropDownList("userId", new SelectList(ViewBag.UsersList, "Id", "UserName", "Id"))

    <h4>Enter a role name to add: </h4> @Html.TextBox("roleName")

    <input type="submit" name="Add User to Role" value="Add User to Role" />
}