@model List<Shadow.Models.Ticket>
@{
    ViewBag.Title = "AllTickets";
}

<h2>All Tickets</h2>
@if (Model != null)
{
    <ul>
        @foreach (var ticket in Model)
        {
            <li>
                @ticket.Title
            </li>
        }
    </ul>
}

