
@{
    ViewBag.Title = "Index";
}

<h2>Submitter Dashboard</h2>

<h3>
    @Html.ActionLink("Create a new Ticket", "CreateTicket", "Submitters")

</h3>

<h3>
    @Html.ActionLink("View all projects in the system", "AllProjects", "Submitters")
</h3>

<h3>
    @Html.ActionLink("Show all tickets", "GetAllTickets", "Submitters")
</h3>
