@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shadow</h1>
    <p class="lead">Shadow-SimpleBugTrackingSystem</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Admin</h2>
        <p>
            If you are admin click on the given button to login to your Admin page.
        </p>
        <p><a class="btn btn-default" href=@Url.Action("Index", "Admin")>Admin Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Developer</h2>
        <p>If you are Developer click on the given button to login to your Developer page.</p>
        <p><a class="btn btn-default" href=@Url.Action("Index", "Developers")>Developer Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Project Manager</h2>
        <p>If you are project manager click on the given button to login to your Project Manager page.</p>
        <p><a class="btn btn-default" href=@Url.Action("Index", "ProjectManager")>Project Manager Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Submitter</h2>
        <p>If you are Submitter click on the given button to login to your Submitter page.</p>
        <p><a class="btn btn-default" href=@Url.Action("Index", "Submitters")>Submitter Login &raquo;</a></p>
    </div>
</div>